<div id="detailCard" class="card animated-card1 detail-card">
    <div class="view-details image-container overflow-hidden">
        <div class="overlap-content">
            <h2 class="pull-left margin-top-0">{{selectedAccommodationAdd?.apartmentName}}</h2>
            <span class="label price-label pull-right dark-bg font-size-18">${{selectedAccommodationAdd?.cost}}</span>
        </div>
        <css-carousel [images]="selectedAccommodationAdd?.addPhotoIds"></css-carousel>
    </div>
    <div class="panel-footer padding-30">
        <div class="row">
            <div class="col-sm-9">
                <p class="text-muted address">
                    <b>Mapple road, taxes North main road</b>
                </p>

                <p class="text-muted">
                    <b>Posted On:</b>
                    <label>{{selectedAccommodationAdd?.createDate}}</label>
                </p>
                <p class="text-muted address">
                    <i class="fa fa-building"></i>On-CampusOn-Campus

                    <i class="fa fa-bed"></i>{{selectedAccommodationAdd?.noOfRooms | slice:0:1}} Bedroom(s)
                    <i class="fa fa-bath"></i>{{selectedAccommodationAdd?.noOfRooms | slice:5:6}} Bathroom(s)
                </p>
                <div class="text-muted address">
                    <div *ngIf="selectedAccommodationAdd?.gender=='Male'">
                        <i [ngClass]="selectedAccommodationAdd?.gender=='Male'? 'fa-male' : 'fa-female'" class="fa">
                        </i>{{selectedAccommodationAdd?.vacancies}} {{selectedAccommodationAdd?.gender}} roommate(s) required</div>
                </div>

                <p class="text-muted address">{{selectedAccommodationAdd?.notes}}</p>

            </div>
            <div class="col-sm-3">
                <div class="social-icons">
                    <span *ngIf="enableSubscription">
                        <a href="javascript:void(0)" (click)="subscribe()">
                            <i class="fa fa-rss-square" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span>
                        <a href="javascript:void(0)">
                            <i aria-hidden="true" class="fa fa-facebook-square"></i>
                        </a>
                    </span>
                    <span>
                        <a href="javascript:void(0)" (click)="share()">
                            <i aria-hidden="true" class="fa fa-share-alt-square"></i>
                        </a>
                    </span>
                    <span *ngIf="!(loggedInUserId != null && loggedInUserId == selectedAccommodationAdd?.userId)">
                        <a href="javascript:void(0)" (click)="getBranchData()">
                            <i aria-hidden="true" class="fa fa-envelope-square"></i>
                        </a>
                    </span>
                    <span *ngIf="loggedInUserId != null && loggedInUserId == selectedAccommodationAdd?.userId">
                        <a href="javascript:void(0)" (click)="deleteAdd()">
                            <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                <p class="text-muted posted-by">{{selectedAccommodationAdd?.notes}}</p>
                <!-- <div class="form-group xs-display-inline">
                    <button type="button" class="btn primary-btn btn-width-100">CALL</button>
                </div>
                <div class="form-group xs-display-inline">
                    <button type="button" class="btn secondary-btn btn-width-100">ENQUIRY</button>
                </div> -->

            </div>
        </div>
    </div>
    <!-- Modal window-->
    <div class="modal fade" id="share-overlay" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Subscribe</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="display-block" for="selectdropdown">Checkbox sample</label>
                        <div class="checkbox inline-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr">
                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                </span>
                                checkbox1
                            </label>
                        </div>
                        <div class="checkbox inline-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr">
                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                </span>
                                checkbox2
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn secondary-btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn primary-btn">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>