<div id="detailCard" class="card animated-card1 detail-card" [class.shared-detail-page]="sharedLink">
    <div class="view-details image-container overflow-hidden">
        <div *ngIf="!deletePrompt" class="overlap-content">
            <h2 class="pull-left margin-top-0">{{selectedAccommodationAdd?.apartmentName}}</h2>
            <span class="label price-label pull-right dark-bg font-size-18">${{selectedAccommodationAdd?.cost}}</span>
        </div>

        <div *ngIf="deletePrompt" class="overlap-error-content">
            <h2 class="pull-left margin-top-0">Are you sure you want to delete this listing?</h2>
            <button (click)="deleteAdd()" class="btn confirm-btn">Yes</button>
            <button (click)="deletePromptNo()" class="btn confirm-btn">No</button>
        </div>

        <css-carousel [images]="selectedAccommodationAdd?.addPhotoIds"></css-carousel>
    </div>
    <div class="panel-footer padding-30">
        <div class="row">
            <div class="col-sm-9">
                <p class="text-muted address">
                    <b>{{selectedAccommodationAdd?.addrLine}}</b>
                </p>
                <p class="text-muted address">
                    <i class="fa fa-building"></i>{{selectedAccommodationAdd?.apartmentType}}
                </p>
                <div *ngIf="isNumber(selectedAccommodationAdd?.noOfRooms[0])">
                    <p class="text-muted address">

                        <i class="fa fa-bed"></i>{{selectedAccommodationAdd?.noOfRooms | slice:0:1}} Bedroom(s)
                        <i class="fa fa-bath"></i>{{selectedAccommodationAdd?.noOfRooms | slice:5:6}} Bathroom(s)
                    </p>
                </div>
                <div *ngIf="!isNumber(selectedAccommodationAdd?.noOfRooms[0])">
                    <p class="text-muted address">
                        <i class="fa fa-bed"></i>{{selectedAccommodationAdd?.noOfRooms}}
                    </p>
                </div>

                <div class="text-muted address">
                    <div *ngIf="selectedAccommodationAdd?.gender=='Male'">
                        <i [ngClass]="selectedAccommodationAdd?.gender=='Male'? 'fa-male' : 'fa-female'" class="fa">
                        </i>{{selectedAccommodationAdd?.vacancies}} {{selectedAccommodationAdd?.gender}} roommate(s) required</div>
                </div>
                <p class="text-muted address">{{selectedAccommodationAdd?.notes}}</p>
            </div>
            <div class="col-sm-3">
                <div class="social-icons">
                    <span *ngIf="enableSubscription">
                        <a href="javascript:void(0)" (click)="subscribe()">
                            <i class="fa fa-rss-square" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="https://www.facebook.com/app_scoped_user_id/{{selectedAccommodationAdd?.userId}}">
                            <i aria-hidden="true" class="fa fa-facebook-square"></i>
                        </a>
                    </span>
                    <span>
                        <a href="javascript:void(0)" (click)="share()">
                            <i aria-hidden="true" class="fa fa-share-alt-square"></i>
                        </a>
                    </span>
                    <span *ngIf="!(loggedInUserId != null && loggedInUserId == selectedAccommodationAdd?.userId)">
                        <a href="mailto:apurv2@gmail.com">
                            <i aria-hidden="true" class="fa fa-envelope-square"></i>
                        </a>
                    </span>
                    <span *ngIf="loggedInUserId != null && loggedInUserId == selectedAccommodationAdd?.userId">
                        <a href="javascript:void(0)" (click)="showDeletePrompt()">
                            <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                    </span>
                    <span *ngIf="loggedInUserId != null && loggedInUserId == selectedAccommodationAdd?.userId">
                        <a href="javascript:void(0)" (click)="editCLicked()">
                            <i aria-hidden="true" class="fa fa-edit"></i>
                        </a>
                    </span>
                </div>
                <p class="text-muted small">
                    Posted by:
                    <b> {{selectedAccommodationAdd?.firstName}}</b>
                </p>

                <p class="text-muted small">
                    Posted on:
                    <b>{{selectedAccommodationAdd?.createDate}}</b>
                </p>
            </div>
        </div>
    </div>
</div>