<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="card">
                    <div class="signin-form post-accom-form">
                        <h3 class="text-center margin-bottom-10">
                            <b>Accommodation Information</b>
                        </h3>
                        <form>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="University Name" [(ngModel)]="universityNameSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                                        [ngModelOptions]="{standalone: true}" required>
                                        <mat-option *ngFor="let spinnerValue of universityNameSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Apartment Type" [(ngModel)]="aptTypeSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                                        [ngModelOptions]="{standalone: true}" required>
                                        <mat-option *ngFor="let spinnerValue of aptTypeSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5 col-xs-10">
                                <mat-form-field>
                                    <mat-select placeholder="Apartment Name" [(ngModel)]="aptNameSpinnerSelectedItem.code" [ngModelOptions]="{standalone: true}"
                                        required>
                                        <mat-option *ngFor="let spinnerValue of aptNameSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-1 col-xs-2 addbtn">
                                <button class="btn" [disabled]="!showAddApartment" (click)="apartmentNameClick()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Gender" [(ngModel)]="genderSpinnerSelectedItem.code" [ngModelOptions]="{standalone: true}" required>
                                        <mat-option *ngFor="let spinnerValue of genderSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="No Of Rooms" [(ngModel)]="noOfRoomsSpinnerSelectedItem.code" [ngModelOptions]="{standalone: true}"
                                        required>
                                        <mat-option *ngFor="let spinnerValue of noOfRoomsSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Vacancies" [(ngModel)]="vacanciesSpinnerSelectedItem.code" [ngModelOptions]="{standalone: true}"
                                        required>
                                        <mat-option *ngFor="let spinnerValue of vacanciesSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <span matPrefix>$&nbsp;</span>
                                    <input type="number" pattern="\d*" size="4" matInput placeholder="Cost" [formControl]="numberFormControl" [(ngModel)]="cost"
                                        [attr.maxLength]="4" required>
                                    <mat-error *ngIf="numberFormControl.invalid && !numberFormControl.hasError('required')">
                                        Please enter a valid amount between 0 to 2000$
                                    </mat-error>
                                    <mat-error *ngIf="numberFormControl.hasError('required')">
                                        Cost is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dp3" [min]="minDate" [max]="maxDate" placeholder="Date available till" [formControl]="dateAvailableTill"
                                        disabled required>
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div *ngIf="adminUser">
                                <div class="form-group col-md-6">
                                    <mat-form-field>
                                        <input (keyup)="onFbIdChange()" type="number" name="fbId" matInput placeholder="Facebook Id" [(ngModel)]="fbId" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{name}}</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <mat-form-field>
                                    <textarea #comments matInput placeholder="Notes" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" [attr.maxLength]="255"
                                        [(ngModel)]="notes" [ngModelOptions]="{standalone: true}"></textarea>
                                </mat-form-field>
                                <p class="form-text text-muted character-count">
                                    Characters Remaining:
                                    <span>{{255- comments.value.length}}</span>
                                </p>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Add Image</label>
                                <input #data type="file" multiple=true (change)="addFile(data)">
                            </div>
                            <ul class="img_list">
                                <li *ngFor="let photo of photos">
                                    <img src="{{photo}}">
                                </li>
                            </ul>
                            <a href="javascript:void(0)" (click)="deleteAllPhotos()">
                                <i *ngIf="photos?.length>0" aria-hidden="true" class="fa fa-trash"></i>
                            </a>
                            <div class="form-group col-md-4 col-md-push-8">
                                <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
                                <button *ngIf="!loading" type="submit" class="btn primary-btn btn-lg btn-block" (click)="submit()" [disabled]="numberFormControl.invalid || dateAvailableTill.invalid">{{saveOrUpdate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <user-post></user-post>
        </div>
    </div>
</div>