<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="card">
                    <div class="signin-form post-accom-form">
                        <h3 class="text-center margin-bottom-10">
                            <b>Apartment Information</b>
                        </h3>
                        <form>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Apartment Type" [(ngModel)]="aptTypeSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of aptTypeSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Apartment Name" [(ngModel)]="aptNameSpinnerSelectedItem.code" (ngModelChange)="spinnerClick1($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of aptNameSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">

                                <mat-form-field>
                                    <mat-select placeholder="University Name" [(ngModel)]="universityNameSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of universityNameSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Gender" [(ngModel)]="genderSpinnerSelectedItem.code" (ngModelChange)="spinnerClick1($event)" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of genderSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="No Of Rooms" [(ngModel)]="noOfRoomsSpinnerSelectedItem.code" (ngModelChange)="spinnerClick1($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of noOfRoomsSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Vacancies" [(ngModel)]="vacanciesSpinnerSelectedItem.code" (ngModelChange)="spinnerClick1($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let spinnerValue of vacanciesSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <span matPrefix>$&nbsp;</span>
                                    <input matInput placeholder="Cost" [(ngModel)]="cost" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" >
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-12">
                                <mat-form-field>
                                    <textarea matInput placeholder="Notes" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" [(ngModel)]="notes"
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Add Image</label>
                                <input #data type="file" multiple=true (change)="addFile(data)">
                            </div>

                            <div *ngFor="let photo of photos">
                                <img src="{{photo}}">
                            </div>
                            <div class="form-group col-md-4 col-md-push-4">
                                <button type="submit" (click)="postAccommodation()"  class="btn primary-btn btn-lg btn-block">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <user-post></user-post>
        </div>
    </div>
</div>