<div class="col-xs-12 col-sm-12 col-md-4">
  <div class="row">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li *ngFor="let university of accommodationSearchResults">
        
        <div class="collapsible-header">
          <img class="univCardImg" src="{{university.urls}}" />
          <h4 class="univhead">{{university.universityName}}</h4>
        </div>
        <div class="collapsible-body height-400 overflow-auto">
          <div *ngFor="let accommodationAdd of university?.accommodationAdds">
            <div class="card animated-card1 horizontal-card" (click)="addClick(accommodationAdd)">
              <div class="media">
                <div class="media-left">
                  <img src="http://graph.facebook.com/{{accommodationAdd.userId}}/picture?type=normal" alt="" />
                </div>
                <div class="media-body panel-body">
                  <h4 class="media-heading">
                    <b>{{accommodationAdd.apartmentName}}</b>
                  </h4>
                  <div class="text-muted small">
                    <b>10 miles from UTA</b>
                  </div>
                  <div class="text-muted small inline-block">
                    <b>{{accommodationAdd.noOfRooms}}</b>
                  </div>
                  <span class="label price-label dark-bg pull-right font-size-10">
                    ${{accommodationAdd.cost}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>