<div class="col-xs-12 col-sm-12 col-md-4">
  <div class="row">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let university of accommodationSearchResults">

        <div class="collapsible-header">
          <img class="univCardImg" src="{{university.urls}}" />
          <h4 class="univhead">{{university.universityName}}</h4>
        </div>
        <div class="collapsible-body height-400 overflow-auto">
          <div *ngFor="let accommodationAdd of university?.accommodationAdds">
            <div [class.active-bg]="accommodationAdd.addId==selectedItemId" class="card animated-card1 horizontal-card" (click)="addClick(accommodationAdd, $event)">
              <div class="media">
                <div class="media-left">
                  <img src="http://graph.facebook.com/{{accommodationAdd.userId}}/picture?type=normal" alt="" />
                </div>
                <div class="media-body panel-body">
                  <h4 class="media-heading">
                    <b>{{accommodationAdd.apartmentName}}</b>
                    <span *ngIf="accommodationAdd.userVisitedSw" class="tickmark">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076">
                        <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                          fill="#4fc3f7"></path>
                      </svg>
                    </span>
                  </h4>
                  <div class="text-muted small">
                    <b>10 miles from UTA</b>
                  </div>
                  <div class="text-muted small inline-block">
                    <b>{{accommodationAdd.noOfRooms}}</b>
                  </div>
                  <span class="label price-label dark-bg pull-right font-size-10">
                    ${{accommodationAdd.cost}}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="university.accommodationAdds.length >= 10 && !university.stopPagination">
            <a class="load-more" *ngIf="!university.paginating" href="javascript:void(0)" (click)="paginationClick(university)">Load More</a>
            <mat-spinner class="load-more" [diameter]="40" *ngIf="university.paginating"></mat-spinner>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>