<div class="container">
    <div class="no-record" *ngIf="noData">
        <img src="./assets/images/nodatafound.png" alt="" title="">
    </div>
    <div *ngIf="!noData">
        <div class="col-xs-12 col-sm-12 col-md-4 height-400 overflow-auto adv-card-list">
            <adds-list [accommodationAdds]="accommodationAdds" [showVisited]="false"></adds-list>
        </div>
        <accommodation-details [selectedAccommodationAdd]="selectedAccommodationAdd"></accommodation-details>
    </div>
</div>