<!-- Search panel-->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>
            <span>Student Assist </span>
            <div>Search for unique homes On/Off Campus and experience the university as your own.</div>
        </h1>

        <div #searchPanel class="search-panel">
            <form>
                <div class="input-group">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let university of selectedUniversities" [selectable]="selectable" [removable]="removable" (remove)="removeChip(university)">
                            {{university.univAcronym}}
                            <mat-icon matChipRemove (click)="removeChip(university)">cancel</mat-icon>
                        </mat-chip>

                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (keyup)="searchTerm$.next($event.target.value)" (keyup.enter)="onEnterClicked()" [(ngModel)]="searchBarText"
                            class=" form-control type-search" [ngModelOptions]="{standalone: true}" placeholder="Enter University Name(s)...">

                    </mat-chip-list>
                    <span class="input-group-addon padding-0">
                        <a href="javascript:void(0)" [class.disabled]="selectedUniversities.length == 0" (click)="onEnterClicked()">
                            <div matTooltip="{{selectedUniversities.length==0? 'Add Universities To Search' : 'Click to launch Search'}}" [matTooltipPosition]=" toolTipPosition ">
                                <i [class.bounce]="selectedUniversities.length>0" class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </a>
                    </span>

                    <ul [class.reveal-hide]="searchDropdownToggle" class="search-list search-dropdown-transition">
                        <li *ngFor="let university of universityResults | slice:0:9" (click)="addChip(university)">
                            <a target="_blank">
                                {{ university.universityName }}
                            </a>
                        </li>
                    </ul>

                </div>

            </form>
        </div>
    </div>
</div>
<!-- Toggel buttons-->
<div class="row">
    <div class="col-xs-12">
        <div class="toggle-menu text-center">
            <ul>
                <li class="active">
                    <a href="#">Accomodation</a>
                </li>
                <li>
                    <a href="#">Pickup</a>
                </li>
            </ul>
        </div>
    </div>
</div>