.girl-bg {
	font-family: 'Roboto', sans-serif;
	/* background-image: url('../images/girl2.png'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden
}

.login-block h4 a {
	text-decoration: none;
}

.login-block h4 a:hover {
	text-decoration: none;
	color: #fff;
}

.login-block h6 {
	color: #fff;
}

.block h4 {
	color: #fff;
}

.block h4 span {
	padding: 0px 17px;
	text-decoration: underline;
	color: #2f4576
}

.logo-heading {
	margin-left: -5%;
	padding-top: 3%;
}

.block h2 span {
	border-bottom: 5px solid #ff7501;
	padding-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.login-block {
		background: rgba(0, 0, 0, 0.3);
		height: 300px;
		border-radius: 10px;
		top: 25%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: 12%;
	}
	.login-block img {
		margin-top: -10%;
	}
	.login-block h1 {
		font-family: 'Rammetto One', cursive;
		color: #fff;
		font-size: 31px;
		font-weight: bold;
		
	}
	.login-block .facebook-block {
		background:'#2f4576';
		color: #fff;
		/* height: 30px; */
		width: 70%;
		margin: 13% auto;;
	}
	.facebook-block span {
		padding-left: 17px;
	}
	.login-block .fa-facebook {
		font-size:200%;
	}
	.facebook-block h3 {
		display: inline-block;
		font-size: 20px;
		color: #fff;
	}
	.login-block h6 {
		font-size: 12px;
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.login-block h4 {
		color: #fff;
	}
	.login-block h4 span {
		padding: 0px 17px;
		color: #fff;
	}
	.rectangle {
		bottom: -1px;
	}
}

@media only screen and (min-width: 320px) {
	.facebook-block i {
		font-size: 337%;
		/* margin-top: 32px; */
		position: absolute;
		top: 46%;
		left: 25%;
	}
}

@media only screen and (min-width: 375px) {
	.facebook-block i {
		font-size: 337%;
		/* margin-top: 32px; */
		position: absolute;
		top: 46%;
		left: 30%;
	}
}

@media only screen and (min-width: 425px) {
	.facebook-block i {
		font-size: 337%;
		/* margin-top: 32px; */
		position: absolute;
		top: 46%;
		left: 32%;
	}
	.custom-accomo {
		font-size: 120%;
		color: #fff;
	}
	.cust-home {
		margin-top: 24px;
		margin-right: -27px;
	}
	.cust-plane {
		margin-left: -27px;
		padding: 23% 0px;
	}
	.login-block h6 span {
		padding: 0px 17px;
		text-decoration: underline;
		color: #fff
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.heading h1 span {
		color: #fff;
		font-weight: bold;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.login-block {
		background: rgba(0, 0, 0, 0.3);
		height: 300px;
		border-radius: 10px;
		top: 25%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		/*margin-top:-12%;*/
	}
	.login-block img {
		margin-top: -10%;
	}
	.login-block h1 {
		font-family: 'Rammetto One', cursive;
		color: #fff;
		font-weight: bold;
		font-size: 35px;
	}
	.login-block .facebook-block {
		background: #2f4576;
		color: #fff;
		/* height: 30px; */
		width: 80%;
		margin: 10% auto;
	}
	.facebook-block span {
		padding-left: 17px;
	}
	.login-block .fa-facebook {
		font-size: 200%;
	}
	.facebook-block h3 {
		display: inline-block;
		font-size: 28px;
		color: #fff;
	}
	.facebook-block i {
		font-size: 400%;
		/* margin-top: 32px; */
		position: absolute;
		top: 43%;
		left: 23%;
	}
	.login-block h4 {
		color: #fff;
	}
	.login-block h4 span {
		padding: 0px 10px;
		color: #fff;
	}
	.custom-accomo {
		font-size: 120%;
		color: #fff;
	}
	.cust-home {
		margin-top: 24px;
		margin-right: -27px;
	}
	.cust-plane {
		margin-left: -27px;
		padding: 23% 0px;
	}
	.login-block h6 span {
		padding: 0px 17px;
		text-decoration: underline;
		color: #2f4576
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.heading h1 span {
		border-top: 5px solid #ff7501;
		color: #fff;
		font-weight: bold;
	}
	.rectangle {
		bottom: -1px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
	.login-block {
		background: rgba(0, 0, 0, 0.3);
		height: 300px;
		border-radius: 10px;
		top: 25%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.adDetailsBlock {
		height: 500px;
	}
	.login-block img {
		margin-top: -10%;
	}
	.login-block h1 {
		font-family: 'Rammetto One', cursive;
		color: #fff;
		font-size: 200%;
		font-weight: bold;
	}
	.login-block .facebook-block {
		background: #2f4576;
		color: #fff;
		/* height: 30px; */
		width: 80%;
		margin: 14% auto;;
	}
	.facebook-block span {
		padding-left: 17px;
	}
	.login-block .fa-facebook {
		font-size: 200%;
	}
	.facebook-block h3 {
		display: inline-block;
		font-size: 22px;
		color: #fff;
	}
	.facebook-block i {
		font-size: 369%;
		/* margin-top: 32px; */
		position: absolute;
		top: 45%;
		left: 26%;
	}
	.login-block h4 {
		color: #fff;
	}
	.login-block h4 span {
		padding: 0px 17px;
		color: #fff;
	}
	.custom-accomo {
		font-size: 120%;
		color: #fff;
	}
	.cust-home {
		margin-top: 24px;
		margin-right: -27px;
	}
	.cust-plane {
		margin-left: -27px;
		padding: 23% 0px;
	}
	.login-block h6 span {
		padding: 0px 17px;
		text-decoration: underline;
		color: #2f4576
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.heading h1 span {
		border-top: 5px solid #ff7501;
		color: #fff;
		font-weight: bold;
	}
	.rectangle {
		bottom: -1px;
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
	.login-block {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		height: auto;
		top: 25%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.login-block img {
		margin-top: -17%;
	}
	.login-block h1 {
		font-family: 'Josefin Sans', sans-serif;
		color: #fff;
		font-size: 240% !important;
		font-weight: bold;
		padding-top: 10px;
	}
	.login-block .facebook-block {
		background: #2f4576;
		color: #fff;
		height: 33px;
		width: 71%;
		margin: 10% auto;
	}
	.facebook-block span {
		padding-left: 5px;
	}
	.login-block .fa-facebook {
		font-size: 200%;
	}
	.facebook-block h3 {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		padding-top: 3px;
		padding-left: 10px;
		font-weight: bold;
	}
	.facebook-block i {
		font-size: 320%;
		margin-top: 37px;
		position: absolute;
		top: 39%;
		left: 28%;
	}
	.login-block h6 span {
		padding: 0px 17px;
		text-decoration: underline;
		color: #2f4576
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.heading h1 span {
		border-top: 5px solid #ff7501;
		color: #fff;
		font-weight: bold;
	}
	.custom-accomo {
		font-size: 120%;
		color: #fff;
	}
	.cust-home {
		margin-top: 24px;
		margin-right: -27px;
	}
	.cust-plane {
		margin-left: -27px;
		padding: 23% 0px;
	}
	.rectangle {
		bottom: -1px;
	}
}

@media only screen and (min-width: 1920px) {
	.login-block {
		background: rgba(0, 0, 0, 0.3);
		height: 300px;
		border-radius: 10px;
		top: 25%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.login-block img {
		margin-top: -10%;
	}
	.login-block h1 {
		font-family: 'Rammetto One', cursive;
		color: #fff;
		font-size: 38px;
	}
	.login-block .facebook-block {
		background: #2f4576;
		color: #fff;
		height: 48px;
		margin: 8% auto;
	}
	.facebook-block span {
		padding-left: 17px;
	}
	.login-block .fa-facebook {
		font-size: 412%;
	}
	.facebook-block h3 {
		display: inline-block;
		font-size: 29px;
		color: #fff;
	}
	.facebook-block i {
		font-size: 490%;
		margin-top: 29px;
		position: absolute;
		top: 33%;
		left: 15%;
	}
	.login-block h4 {
		color: #fff;
	}
	.login-block h4 span {
		padding: 0px 17px;
		color: #2fff;
	}
	.custom-accomo {
		font-size: 120%;
		color: #fff;
	}
	.cust-home {
		margin-top: 24px;
		margin-right: -27px;
	}
	.cust-plane {
		margin-left: -27px;
		padding: 23% 0px;
	}
	.login-block h6 span {
		padding: 0px 17px;
		text-decoration: underline;
		color: #2f4576
	}
	.block-2 h4 span {
		border-bottom: 5px solid #ff7501;
		padding-bottom: 10px;
	}
	.heading h1 span {
		border-top: 5px solid #ff7501;
		color: #fff;
		font-weight: bold;
	}
	.rectangle {
		bottom: -1px;
	}
}