<div class="search-container overflow-inherit">
    <div class="row">
        <div class="col-md-12 filter">
            <form class="form-inline">
                <div class="form-group">
                    <div class="toggle-menu text-center">
                        <ul>
                            <li class="active">
                                <a href="#">Search</a>
                            </li>
                            <li>
                                <a href="#">Advance Search</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="leftSpinnerSelectedItem.code" (ngModelChange)="leftSpinnerClick($event)" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of leftSpinnerValues" [value]="spinnerValue.code">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select [(ngModel)]="rightSpinnerSelectedItem.code" (ngModelChange)="rightSpinnerClick($event)" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of rightSpinnerValues" [value]="spinnerValue.code">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>