<div class="search-container overflow-inherit">
    <div class="row">
        <div class="col-md-12 filter">
            <form class="form-inline">
                <div class="form-group">
                    <div class="toggle-menu text-center">
                        <ul>
                            <li class="active">
                                <a href="#">Search</a>
                            </li>
                            <li>
                                <a href="#">Advance Search</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="form-group">
                    <select class="" [(ngModel)]="leftSpinnerSelectedItem" (ngModelChange)="leftSpinnerClick($event)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let spinnerValue of leftSpinnerValues" [value]="spinnerValue.description">{{spinnerValue.description}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <select class="">
                        <option *ngFor="let spinnerValue of rightSpinnerValues" [value]="spinnerValue.code">{{spinnerValue.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" value="" placeholder="Search...." class="form-control">
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>