<div class="search-container overflow-inherit">

    <div class="row">
        <div class="col-md-12 filter">
            <form class="form-inline">
                    <a [routerLink]="['/simple-search']"><i class="material-icons">reply_all</i></a>

                <mat-form-field>
                    <mat-select placeholder="University Name" [(ngModel)]="universityNameSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of universityNameSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Apartment Type" [(ngModel)]="aptTypeSpinnerSelectedItem.code" (ngModelChange)="spinnerClick($event)"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of aptTypeSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Apartment Name" [(ngModel)]="aptNameSpinnerSelectedItem.description" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of aptNameSpinnerValues" [value]="spinnerValue?.description">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Gender" [(ngModel)]="genderSpinnerSelectedItem.code" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let spinnerValue of genderSpinnerValues" [value]="spinnerValue?.code">{{spinnerValue.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="form-group">
                    <div class="toggle-menu text-center">
                        <a href="javascript:void(0)" (click)="searchClicked()">
                            <!-- <i aria-hidden="true" class="fa fa-2x fa-arrow-circle-o-right"></i>-->
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>