/*common classes*/
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: none;
}

.demo-chip-list {
    width: 100%;
  }
  
.section-body{
    margin: 40px 0;
}
.padding-0{
    padding: 0;
}
a{
    outline: none;
}
.font-size-12{
    font-size: 12px;
}

.font-size-10{
    font-size: 10px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-40{
    font-size: 40px;
}
.overflow-inherit{
    overflow: inherit !important;
}
.border-radius-3{
    border-radius: 3px;
}
.margin-bottom-0{
    margin-bottom: 0;    
}
.modal-footer{
    border: 0;
}
.bottom-0{
    bottom: 0;
}
.top-0{
    top: 0;
}
.padding-15{
    padding: 15px;
}
.img-border{
    border: 8px solid #d0d3db;
}
.color-dark{
    color: #000 !important;
}
.circular-text{
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,.1);
    display: block;
    color: black;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100%;
}
.width-80{
    width: 80px;
}
.width-120{
    width: 120px;
}
.height-400{
    height: 400px;
}
.vertical-middle .media-left, .vertical-middle .media-body{
    vertical-align: middle;
}
.margin-0{
    margin: 0;
}
.height-200{
    height: 200px;
}
.width-100-per{
    width: 100%;
}
.overflow-auto{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
.white-bg{
    background: #fff !important;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-88{
    margin-top: 88px;
}
.margin-top-0{
    margin-top: 0;
}
.padding-30{
    padding: 30px;
}
.padding-20{
    padding: 20px;
}
.highlight-text{
    color: #666;
    font-weight: 700;
}
.margin-bottom-3{
    margin-bottom: 3px;
}
.margin-top-10{
    margin-top: 10px;
}
.price-label{
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
}
.dark-bg{
   background: #404a58; 
}
.pink-bg{
    background: #fb6362;
}
.green-bg{
    background: #1abc9c;
}
.panel-footer{
    background: #f4f4f4;
    border: 0;
    padding: 15px;
}
.primary-btn{
    background: #fb6362;
    color: #fff;
}
.secondary-btn{
    background: #404a58; 
    color: #fff;
}
.primary-btn:hover, .secondary-btn:hover, .primary-btn:focus, .secondary-btn:focus{
    color: #fff;
}
.btn-width-100{
    width: 100px;
}
.detail-card{
    margin-top:10px; 
}
.image-container
{
    height: 320px;
}
.posted-by
{
    text-transform: capitalize;
}
.search-container .mat-form-field-wrapper
{
    padding-bottom: 0 !important;
}
.search-container .mat-form-field-underline
{
    position: unset !important;
}
.social-icons{
    margin-bottom: 10px;
}
.social-icons i
{
    padding-right: 8px;
    font-size: 30px;
    color: #fb6362;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.display-block{
    display: block;
}
a:hover, a:focus{
    text-decoration: none;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label{
    color: #7c818e;
}
.form-group .btn{
    border-radius: 3px;
    height: 40px;
}
.btn.dropdown-toggle{
    height: 40px;
    background-color: #f2f0f4;
    border: 0;
}
.btn.dropdown-toggle:focus {
    outline: 0;
}
.form-group input[type="text"],.form-group input[type="email"],.form-group input[type="password"]{
    background-color: #f2f0f4;
    border-radius: 3px;
    border: 0;
    height: 40px;
    box-shadow: none;
}
.form-group .input-group-addon{
    background-color: #f2f0f4;
    border: 0;
}
.container-highlight{
    box-shadow: 0 0px 20px rgba(0,0,0,.05);
    background-color: #fff;
}
.img-round-mark{
    border: 3px solid #dbdbdb;
    padding: 25px 10px;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    line-height: 25px !important;
}
.section-body h3
{
    font-size: 30px;
    margin: 0 0 15px 0;
font-weight: 600;
    color: #4A5155;
}
.section-body h4 b
{
font-size: 24px;
color: #fb6362;
letter-spacing: 2px;
line-height: 24px;
}
.sub-section{
    padding: 20px 0;
}
.display-cell{
    display: table-cell;
    float: none;
    vertical-align: middle;
}

/*banner*/
.banner{
    background: url('../images/index-banner.jpg') no-repeat fixed;
    background-size: cover;
    height: 500px;
    padding: 5px 0 0 0;
}
.banner-bottom{
    margin-top: -108px;
}
.section2{

    background-color: #f7f7f7;
    padding: 40px;
}
.section-univ
{
    background-color: red;
    padding: 10px;
}
.white-card {
    background: #fff;
    padding: 20px 20px 0px 20px;
    margin-right: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.cardHeading
{
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}
.header-section{
    padding: 20px 0;
}

/*user account dropdown*/
.menu.useraccount{
    margin-top: 20px;
}
.useraccount .media{
    background-color: #414a59;
    color: #fff;
    padding: 7px 15px;
}
.mat-form-field
{
    padding: 0px 10px 0px 10px;
    font-family: 'Josefin Sans', sans-serif !important;
}
.mat-option, .mat-select
{
    font-family: 'Josefin Sans', sans-serif !important;
}
.useraccount .media-body, .useraccount .media-left{
    vertical-align: middle;
}
.useraccount .media-body .user-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
    font-size: 12px;
    font-weight: 600;
}
.useraccount .dropdown-menu{
    width: 210px;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.useraccount .btn{
    padding: 0;
    background: transparent !important;
    box-shadow:  0 0 0 transparent !important;
    border: 0;
}
.useraccount .dropdown-menu li a{
    padding: 8px 24px;
    border-left:3px solid transparent;
    transition: all .3s;
    color: #666666;
    font-size: 12px;
}
.useraccount .dropdown-menu li a:hover{
    border-left-color: #fb6362;
    background: #f1f1f1;
}
.useraccount .dropdown-menu li a.active{
    border-left-color: #fb6362;
    background: #f1f1f1;
}
.user-thumb{
    width: 30px;
    height: 30px;
    position: relative;
}
.user-thumb:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    right: 0;
    top: 1px;
    border-radius: 100%;
    z-index: 1;
}

/*search panel*/
.search-panel{
    margin: 15px 0 15px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
}
.search-panel .search-list{
    list-style: none;
    position: absolute;
    margin-top: 50px;
    top: 0;
    padding: 0;
    background: #fff;
    z-index: 10;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    display: block;
}
.search-panel .search-list li{
    padding: 10px 14px;
    border-bottom: 1px solid rgba(0,0,0,.03);
    font-size: 13px;
    transition: all .3s;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.search-panel .search-list li:hover{
    border-left: 3px solid #fb6362;
    background: #f1f1f1;
}
.search-panel .input-group{
    border-radius: 3px;
}
.search-panel button{
    height: 52px;
    width: 90px;
    border: 0;
    box-shadow: 0 0 0 transparent;
    background: #fb6362;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
.search-panel .input-group-addon{
    border: 0;
    border-radius: 0;
    color: #ccc;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 300;
    background: #fff;
}
.search-panel input{
    height: 52px;
    border: 0;
    border-radius: 0 !important;
    padding-left: 0;
    box-shadow: 0 0 0 transparent;
}
.search-panel input:focus{
    box-shadow: 0 0 0 transparent;   
}

/*rate & information cards*/
.vertical-card{
    height: 320px;
    transition: all 0.1s;
}
.no-record{
    padding: 20px;
    background: #fff;
    text-align: center;
    font-weight: 800;
    margin: 0px 5px;
    display: none;
}
.card{
    background: #fff;
    border-radius: 3px;
    /* box-shadow: 0 2px 4px rgba(161, 60, 60, 0.05);*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid rgba(0,0,0,.06);
    overflow: hidden;
    margin-bottom: 5px;
}
.vertical-card:hover {
   /* box-shadow: 0 8px 30px rgba(0,0,0,0.1);*/
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.animated-card1{
    transition: all .3s;
}
.animated-card1:hover {
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}
.animated-card2{
    transition: all .3s;
}
.animated-card2:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.card .card-img-view{
    height: 140px;
    position: relative;
    overflow: hidden;
}
.card .card-img-view h4{
    position: absolute;
    bottom: 0;
    margin:0px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    
    width: 100%;
}
.card .card-img-view img{
    width: 100%;
}
.card .card-content-view{
    padding: 8px 15px 15px;
}
.card .card-content-view i{
    font-size: 22px;
}
.small-card{
    height: 210px;
}
.small-card .view-details{
    height: 150px;
}
.small-card .view-details .overlap-content{
    padding: 15px;
}
.small-card .view-details .overlap-content h2{
    font-size: 20px;
}
.small-card .view-details .overlap-content h4{
    font-size: 16px;
}


/*ratings card*/
.rating-card {
    background: #fff;
    border-radius: 3px;
   /* box-shadow: 0 2px 4px rgba(0,0,0,0.05);*/
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid rgba(0,0,0,.06);
    transition: all .1s;
    overflow: hidden;
    padding: 50px 15px 15px;
    margin-bottom: 30px;
}
.rating-card:hover {
    /*box-shadow: 0 8px 30px rgba(0,0,0,0.1);*/
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.rating-card .card-usr-img{
    width: 90px;
    height: 90px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
}
.rating-card .card-usr-img img{
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.rating-card .card-usr-img:before{
    content: '';
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 18px;
    border-radius: 100%;
    z-index: 1;
}
.red-indicator:before{
    background: #fb6362;
}
.green-indicator:before{
    background: #1abc9c;
}
.rating-card .card-usr-info{
    height: 95px;
}

/*view details block*/
.view-details{
    position: relative;
    color: #ffffff;
}
.view-details h2{
    font-weight: bolder;
}
.overlap-content{
    position: absolute;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
}


/*filter*/
.filter .form-group{
    margin-right: 15px;
}
.filter .form-group:last-child{
    margin-right: 0;
}

/*sign in form*/
.signin-form{
    padding: 30px;
}
.post-accom-form
{
    padding: 10px;
}
/*tabs*/
.nav-tabs{
    border-bottom: 0;
    border: 0;
    padding: 0;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li > a{
    border: 0 !important;
    border-radius: 0;
    padding: 15px 15px;
    margin: 0;
    transition: all .3s;
    color: #999999;
}
.nav-tabs > li > a:hover{
    background-color: #404a58;
    color: #fff;
}
.nav-tabs > li.active > a{
    background-color: #404a58 !important;
    color: #fff !important;
}

/*toggle menu*/
.toggle-menu ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-bottom: 30px !important;
}
.toggle-menu ul li{
    float: left;
}
.toggle-menu ul li a{
    height: 35px;
    padding: 7px 0;
    width: 160px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-right: -2px;
    display: block;
    border: 2px solid #404a58;
    background: #fff;
    border-radius: 0;
    color: #404a58;
    transition: all .3s;
}
.toggle-menu ul li.active a{
    color: #fff;
    border: 2px solid #404a58;
    background: #404a58;
   
}
.toggle-menu ul li:hover a{
    color: #fff;
    border: 2px solid #404a58;
    background: #404a58;
    
}
.toggle-menu ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
.toggle-menu ul li:last-child a{
    border-radius: 0 3px 3px 0;
}


.inline-checkbox,.inline-radio{
    position: relative;
    display: inline-block;
}
.checkbox label, .radio label{
    padding-left: 0;
    padding-right: 15px;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 10px;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*overlap nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav ul li a {
    padding: 10px 0 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: block;
    transition: 0.3s;
    border-left: 3px solid transparent;
}

.sidenav ul li a:hover {
    border-left-color: #fb6362;
    background: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 0;
}

.sidenav .useraccount .media{
    padding: 11px 15px;
}

.nav-overlap{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    display: none;
}
.card-group{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.175);
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.card-group .card-group-overlay{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    bottom: 0;
    padding: 15px;
}

.animate-input-group{ 
  position:relative; 
  margin-bottom:45px; 
}
.animate-input-group input, .animate-input-group select	{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #E7E7E7;
}
.animate-input-group select:focus, .animate-input-group input:focus
{ outline:none; }

.css-select {
   -moz-appearance:none;
   background-image: url('../images/down-arrow.png');
   background-repeat: no-repeat;
   background-position: right center;
   padding-right: 20px;
    background-size: 10px;
    cursor: pointer;
}

.animate-input-group .animate-input-label{
  color:#999; 
  font-size:17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.animate-input-group .animate-select-label{
  top:-20px;
  font-size:14px;
  color:#5264AE;  
   font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px; 
}

.animate-input-group input:focus ~ label, .animate-input-group input:valid ~ label 		{
  top:-20px;
  font-size:12px;
  color: #000; 
}

.animate-input-bar 
{ position:relative; display:block; width:100%; }

.animate-input-bar:before, .animate-input-bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.animate-input-bar:before {
  left:50%;
}
.animate-input-bar:after {
  right:50%; 
}

.animate-input-group input:focus ~ .animate-input-bar:before, .animate-input-group input:focus ~ .animate-input-bar:after,.animate-input-group select:focus ~ .animate-input-bar:before, .animate-input-group select:focus ~ .animate-input-bar:after {
  width:50%;
}

.animate-input-group .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.animate-input-group select:focus ~ .highlight,
.animate-input-group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
.card-tag{
    position: absolute;
top: 0;
right: 0;
z-index: 1;
display: inline-block;
background: #fff;
width: 60px;
height: 60px;
border-radius: 100%;
padding: 10px;
margin: 2px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.banner h1 {
    margin-top: -15px;
}
.banner h1 span
{
    font-size: 30px;
    color: #fb6362;
    letter-spacing: 2px;
    line-height: 26px;
}
.banner h1 div
{
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 20px;
}
.form-inline .toggle-menu ul
{
    margin-bottom: 10px !important;
}
.form-inline .toggle-menu ul li
{
 float: none;  
 margin-top: 10px; 
}
.form-inline .toggle-menu ul li:first-child a, .form-inline .toggle-menu ul li:last-child a
{
 border-radius: 0px !important;
}
.search-container
{
    width: 100%;
   margin-bottom: 5px;
   border-radius: 3px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 2px solid rgba(255, 255, 255, 1);
    overflow: hidden;
    background-color: #fff;
}
.mat-chip-list-wrapper { 
       background: white;
}
input.mat-chip-input {
    margin: 0px;
}
    .search-panel .search-list {
        width: 100%;
       left: 0;
   }
   .advance-search{
    color: #404a58;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: -32px;
}
.advance-search-panel{
    display: none;
    padding: 30px 0;
}
.signin-form .mat-form-field-infix
{
    width: 100% !important;
}
.signin-form .mat-form-field
{
    display: block !important;
}
.signin-form .form-group
{
    margin-bottom: 0px;
}

.mat-dialog-container
{
    padding: 0px !important;
}
/*Login form*/
#login-box {
    position: relative;
    
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  
  
 
  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }
  
  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.facebook {
    background: #32508E;
  }
  
  button.social-signin.twitter {
    background: #55ACEE;
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }
  .signin-form label
  {
    font-weight: 400;
  }
/*End Login*/
.notification-form .mat-checkbox-layout
{
  max-width: 250px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
  .mat-radio-button,.mat-checkbox, b {
    font-family: 'Josefin Sans', sans-serif !important;
}
.mat-radio-label-content
{
    padding: 0px 10px 0px 5px !important;
}
label
{
    font-weight: 400 !important;
}
.subscription .card
{
    border: 0px;
    box-shadow:none;
}
.notification-form
{
    padding: 0 20px;
    max-height: 520px;
    overflow: auto;
    max-width: 900px;
}
.notification-form h4
{
    padding-top:10px;
    font-weight: 600;
}
.back-arrow
{
position: absolute;
top:15px;
}
.popup-head
{
    text-align: center;
    background:#f7f7f7;

}
.popup-head span
{
    font-size: 20px;
    padding: 30px;
    font-weight: 500;
    color: #fb6362;
}
.border
{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    
    padding-bottom: 20px;
    width: 100%;
}
/*FB like div*/
/*END FB like div*/
/*Responsive*/
@media screen and (min-width:500px) and (max-width:767px){
    .responsive-50{
        float: left;
        width: 50%;
    }
}
@media (min-width:320px) and (max-width:480px){
    .menu.useraccount{
        margin-top: 4px;
    }
    .search-panel {
        margin: 20px 0 25px;
    }
    .search-panel input{
        height: 40px;
    }
    .search-panel button{
        height: 40px;
        width: 80px;
    }
    .search-panel .search-list{
        margin-top: 40px;
    }
    .toggle-menu ul li a{
        height: 30px;
        padding: 6px 0;
        width: 110px;
        font-size: 11px;
        margin-right: -2px;
    }
    .banner{
        height: 340px;
    }
    .banner-bottom {
        margin-top: -110px;
    }
    
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .filter .form-group{
        margin-right: 0;
    }
    .horizontal-card img{
        width: 60px;
        margin: 15px 0 0 15px;
    }
    .height-310{
        height: 190px;
    }
    
    .overlap-content{
        padding: 15px;
    }
    .view-details h2 {
        font-size: 22px;
    }
    .xs-display-inline{
        display: inline-block;
    }
    .banner
    {
        background-size:auto;
    }
    .banner h1 {
        margin-top: 8px;
    }
    .banner h1 span
    {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .banner h1 div
    {
        font-size: 18px;
    }
    .section-body h3
    {
        font-size: 24px;
    }
    .img-container img
    {
        margin-left: 0px !important;
    }
    .section-body h4 b
    {
        font-size: 20px;
    }
    .search-container
    {
        margin-top: 10px;
    }
    .mat-form-field-infix
    {
        width: 100% !important;
    }
    .mat-form-field-flex
    {
        padding: 5px;
    }
    .collapsible.popout>li
    {
        margin: 0px !important;
    }
    .image-container
    {
        height: 220px;
    }
    .popup-head h3{
        font-size: 20px;
        font-weight: 400;
    }
    .popup-head span {
        font-size: 18px;
        padding: 0px;
    }
    .signin-form
    {
        padding: 0px;
    }
}
@media (max-width:980px){
      .vertical-card:hover {
        margin-top: 0;
    }
    .nav-tabs{
        display: table;
        height: 30px;
        width: 100%;
    }
    .nav-tabs > li {
        font-size: 11px;
        display: table-cell;
        float: inherit;
    }
    .nav-tabs > li > a {
        padding: 10px 15px;
    }
    .section2
    {
        padding: 40px 0px 0px 0px;
    }
    
}
@media (max-width:1023px){
    .display-cell{
        display: inherit;
        float: left;
        vertical-align: inherit;
    }
}
@media (min-width:481px) and (max-width:640px){
    
}
@media (min-width:641px) and (max-width:767px){
    
}
@media (min-width:768px) and (max-width:979px){
    .useraccount .btn{
        height: 25px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 200px;
    }


}
@media (min-width:980px) and (max-width:1023px){
    img.width-80{
        width: 62px;
    }
    img.img-border {
        border: 4px solid #d0d3db;
    }

}
@media (min-width:1023px) and (max-width:1169px){

    .xs-img-width-auto{
        width: auto !important;
    }
}
.univCardImg {
    width: 25%;
    height: 40%;
    border-radius: 10%;
}
.media-left img
{
    border-radius: 10%;
    width: 70px;
    
}
.panel-body
{
    padding: 3px;
}
.univhead{
    position: relative;
    top: 0;
    margin:0px;
    padding: 0 15px;
    font-weight: 600;
    color: #000;
    width: 100%;
    font-size: 16px;
}
.user-posts
{
   
}
.collapsible-body .card, .adv-card-list .card{
    padding: 5px;
    margin-bottom: 7px;
    cursor: pointer;
    
}
.active-card
{
    border: 3px dotted #fb6362;
    padding: 15px !important;    
}
.user-posts .card{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.inline-block
{
    display: inline-block;
}
.card-active {
    background-color: #f9f9f9;
    border: 3px solid #999;
}
.img-container img
{
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid rgba(0,0,0,.06);
    margin-bottom: 5px;
    margin-left: 50px;
}
/* materialize.min.css for Detail page card expention*/
.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    min-height: 80px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.adv-card-list{
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(0, 0, 7, 0.3);
    background: rgba(0, 0, 7, 0.5);
    color: rgba(0, 0, 7, 0.3);
    margin-top: 6px;
}
.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(0, 0, 7, 0.3);
    background: rgba(0, 0, 7, 0.3);
    color: rgba(0, 0, 7, 0.3);
}
.collapsible.popout {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}


ul:not(.browser-default)>li {
    list-style-type: none;
}
.collapsible.popout>li.active {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    margin: 0px 10px 0px 0px;
}

.collapsible.popout>li {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 7px 10px;
    -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
    /* max-width:300px; */
    height:300px;
    background:rgba(10, 1, 1, 0);
}
