<div class="container">
    <simple-search-filters #filters></simple-search-filters>
    <div *ngIf="noData" class="no-record">
        <img src="./assets/images/nodatafound.png" alt="" title="">
    </div>
    <div *ngIf="!noData">
        <simple-search-list #addsList id="addsListId" [accommodationSearchResults]="universityAccommodationAdds" [filters]="filters"></simple-search-list>
        <accommodation-details *ngIf="loadedFirstTime" [selectedAccommodationAdd]="selectedAccommodationAdd" [enableSubscription]="true"></accommodation-details>
    </div>
</div>