<div class="card">
    <div class="col-sm-12 col-md-12 subscription">
            <div class="row popup-head">
            <h3>
                Subscribe for Push Notifications
            </h3>
            <span>
                    You will get a notitifications whenever new vacancy added in subscribe apartment!!!"
            </span>
        </div>    
        <div class="notification-form">
            
            <div *ngIf="showUnivs">
                <div class="row">
                    <h4>Please select a university</h4>
                
                <mat-radio-group [(ngModel)]="selectedUniversityId">
                    <mat-radio-button class="col-sm-8 col-md-8  col-xs-12" *ngFor="let university of allUniversities" [value]="university.universityId">
                        {{university.universityName}}
                    </mat-radio-button>
                </mat-radio-group>
               
                
            </div>
            <div class="row">
                <span>
                    <a href="javascript:void(0)" (click)="selectUniversity()">
                        <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>

            <div *ngIf="!showUnivs">
                    <div class="row">
                <span class="back-arrow">
                    <a href="javascript:void(0)" (click)="backClicked()">
                        <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
                    </a>
                </span>
                </div>
                <div class="row">
                <h4>Apartment Type</h4>
                <div class="border"></div>
                <div class="col-sm-4 col-md-4 col-xs-12"><mat-checkbox (click)="checkUnCheckBoxes('on')" [(ngModel)]="aptTypeCheckboxes['on']">On-Campus</mat-checkbox></div>
                <div class="col-sm-4 col-md-4 col-xs-12"><mat-checkbox (click)="checkUnCheckBoxes('off')" [(ngModel)]="aptTypeCheckboxes['off']">Off-Campus</mat-checkbox></div>
                <div class="col-sm-4 col-md-4 col-xs-12"><mat-checkbox (click)="checkUnCheckBoxes('dorms')" [(ngModel)]="aptTypeCheckboxes['dorms']">Dorms</mat-checkbox></div>
               </div>
               <div class="row">
                <h4>Gender</h4>
                <div class="border"></div>
                <mat-radio-group [(ngModel)]="selectedGender">
                    <mat-radio-button class="col-sm-4 col-md-4 col-xs-12" *ngFor="let gender of genderValues" [value]="gender">
                        {{gender}}
                    </mat-radio-button>
                    <mat-radio-button class="col-sm-4 col-md-4 col-xs-12">Doesn't matter</mat-radio-button>
                </mat-radio-group>
                </div>
                <div class="row">
                <h4>Apartment Names</h4>
                
                <div *ngIf="aptTypeVisibility.on">
                    <h4>On-campus</h4>
                    <div class="border"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xs-12" *ngFor="let apartmentName of selectedUniversityDetails?.apartmentNames 
            | notificationSettingsFilter : 'on'">
                            <mat-checkbox [(ngModel)]="aptNameCheckboxes[apartmentName.apartmentName] === undefined ? '' :aptNameCheckboxes[apartmentName.apartmentName].value">
                                {{apartmentName.apartmentName}}</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="aptTypeVisibility.off">
                    <h4>Off-campus</h4>
                    <div class="border"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xs-12" *ngFor="let apartmentName of selectedUniversityDetails?.apartmentNames 
            | notificationSettingsFilter : 'off'">
                            <mat-checkbox [(ngModel)]="aptNameCheckboxes[apartmentName.apartmentName] === undefined ? '' :aptNameCheckboxes[apartmentName.apartmentName].value">{{apartmentName.apartmentName}}</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="aptTypeVisibility.dorms">
                    <h4>Dorms</h4>
                    <div class="border"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xs-12" *ngFor="let apartmentName of selectedUniversityDetails?.apartmentNames 
            | notificationSettingsFilter : 'dorms'">
                            <mat-checkbox [(ngModel)]="aptNameCheckboxes[apartmentName.apartmentName] === undefined ? '' :aptNameCheckboxes[apartmentName.apartmentName].value">{{apartmentName.apartmentName}}</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 col-md-push-4">
                           <!-- <input type="button" (click)="subscribe()" value="subscribe">-->
                    
                            <button type="submit" (click)="subscribe()"  class="btn primary-btn btn-lg width-120">Subscribe</button>
                            <button type="submit"  class="btn primary-btn btn-lg width-120">Close</button>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>